{% extends 'base.html' %}

{% block content %}
<center>
<h2>Book Flight</h2>

<h3>Available Seats: {{ flight.seats }}</h3>

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}

<form method="POST">
{% csrf_token %}

<label>No. of Passengers</label>
<input type="number" id="passenger_count" name="passenger_count" min="1" max="6" required>

<br><br>

<div id="passenger_fields"></div>

<button type="submit">Book Tickets</button>

</form>

<script>

document.getElementById("passenger_count").addEventListener("change", function(){

    let count = parseInt(this.value);

    // limit to 6 passengers
    if(count > 6){
        alert("Maximum 6 passengers allowed");
        this.value = 6;
        count = 6;
    }

    let container = document.getElementById("passenger_fields");

    container.innerHTML = "";

    for(let i = 1; i <= count; i++){

        container.innerHTML += `
        
        <h4>Passenger ${i}</h4>

        Name:
        <input type="text" name="name_${i}" required>

        Age:
        <input type="number" name="age_${i}" required>

        Gender:
        <select name="gender_${i}">
            <option>Male</option>
            <option>Female</option>
        </select>

        <br><br>
        `;
    }

});

</script>
</center>
<br>
{% endblock %}